$icon-font-path: '../fonts/';
$background-image-height: 83vh;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  p {
    font-family: 'PT Sans', sans-serif;
  }

  a, i {
    cursor: pointer;
  }

  hr {
    width: 54%;
    border-top: 1px solid #333;
  }

  button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px;
    letter-spacing: 1.11px;
  }

  nav {
    padding: 20px 0;

    div {
      height: 70px;
      line-height: 70px;
    }

    #links {
      a {
        padding: 0 7%;
        color: #333;
        letter-spacing: 1.3px;
      }
    }

    #social-media-icons {
      i {
        float: right;
        line-height: 70px;
        padding: 0 7%;
        font-size: 1.4em;
      }
    }
  }

  #circle {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #5F4A47;
    opacity: .6;

    p {
      font-family: 'Sanchez', serif;
      color: #fff;
      margin: 0 auto;
      text-align: center;
    }
  }

  #background-image-section {
    // Background image courtesy of Pexels
    background-image: url("../images/record-background.png");
    background-size: cover;
    height: $background-image-height;

    h1 {
      letter-spacing: 4.6px;
      font-size: 47px;
      text-align: center;
      line-height: $background-image-height / 2;
    }
  }

  #about-section {
    background-color: #0d0d0d;

    .about-snippet {
      padding: 11% 23% 7% 15%;

      p {
        color: #fff;
        font-size: 18px;
        letter-spacing: 1.67px;
      }
    }

    #shop-buttons {
      img {
        height: 58px;
      }

      .col-sm-6 {
        text-align: center;
        padding-bottom: 35px;
      }
    }
  }

  #map-section {
    text-align: center;
    padding-top: 7%;

    img {
      height: 100px;
    }

    p {
      letter-spacing: 1.11px;
      padding: 4% 27% 0 27%;
      text-align: left;
    }
  }

  #footer {
    padding: 20px 20px;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
